<pre class="text-[12px] p-2">👽 atom : <span class="hljs-comment">&lt;!--資料夾名，同時作為 namespace 名稱空間，防止同名元件衝突(資料夾名是開發者暱稱也不錯)--&gt;</span>

👽 atom-file-name : <span class="hljs-comment">&lt;!--元件檔名--&gt;</span>

👽 所有 atom 元件
atom<span class="hljs-tag">&lt;<span class="hljs-name">grid</span>&gt;</span>(cols:3, gap:1) <span class="hljs-comment">&lt;!--自定義每個 row 有幾欄與間距--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">layout-h</span>&gt;</span> <span class="hljs-comment">&lt;!--元件水平排列--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">layout-v</span>&gt;</span> <span class="hljs-comment">&lt;!--元件垂直排列--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">sect-footer</span>&gt;</span> <span class="hljs-comment">&lt;!--頁尾區塊--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">sect-header</span>&gt;</span> <span class="hljs-comment">&lt;!--頁首區塊--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">sect-main</span>&gt;</span> <span class="hljs-comment">&lt;!--正文區塊--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">sect-nav</span>&gt;</span> <span class="hljs-comment">&lt;!--導覽區塊--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-headline</span>&gt;</span> <span class="hljs-comment">&lt;!--大標題 48px--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-title</span>&gt;</span> <span class="hljs-comment">&lt;!--標題 24px--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-subtitle</span>&gt;</span> <span class="hljs-comment">&lt;!--子標題 20px--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-body</span>&gt;</span> <span class="hljs-comment">&lt;!--內文 16px--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(按鈕) <span class="hljs-comment">&lt;!--自定義按鈕基礎 14px--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-caption</span>&gt;</span> <span class="hljs-comment">&lt;!--說明 12px--&gt;</span>
atom<span class="hljs-tag">&lt;<span class="hljs-name">h</span>&gt;</span> <span class="hljs-comment">&lt;!--水平分割線--&gt;</span>

👽 (TextSlot) or (slot1:TextSlotA, slot2:TextSlotB) : <span class="hljs-comment">&lt;!-- 1 個或多個 slot, 可在元件內接值，atom&lt;grid&gt;(cols:3, gap:1)內部程式碼如下 --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;grid grid-cols-{{cols}} gap-{{gap}}&quot;</span>&gt;</span>{{{{}}}}<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

👽 @class={bg-black text-white}|style={height:100px; width:100px}|repeat=3|event={onclick:show(~alert)} 後綴屬性
目前規劃有 class style repeat，後續會增加其他功能
class <span class="hljs-comment">&lt;!-- 就是 html 標籤 class 屬性 --&gt;</span>
style <span class="hljs-comment">&lt;!-- 就是 html 標籤 style 屬性 --&gt;</span>
repeat <span class="hljs-comment">&lt;!-- 就是元件重複個數，適合製作假資料列表 --&gt;</span>
event <span class="hljs-comment">&lt;!-- 綁定事件用於 prototype 互動程式部分，下方將有 event 解釋 --&gt;</span></pre>