<pre class="text-[12px] p-2">atom<span class="hljs-tag">&lt;<span class="hljs-name">layout-v</span>&gt;</span>@class={bg-[#DDD] text-white h-[100dvh]}
    atom<span class="hljs-tag">&lt;<span class="hljs-name">sect-header</span>&gt;</span>@class={bg-[#EEE] text-black p-2 shadow-lg}
        atom<span class="hljs-tag">&lt;<span class="hljs-name">sect-nav</span>&gt;</span>
            atom<span class="hljs-tag">&lt;<span class="hljs-name">layout-h</span>&gt;</span>@class={items-end}
                atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-title</span>&gt;</span>(CutKit)
                atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-caption</span>&gt;</span>(v0.2)@class={mx-1}
                atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-body</span>&gt;</span>(你的切版好夥伴)
            atom<span class="hljs-tag">&lt;<span class="hljs-name">layout-h</span>&gt;</span>
                atom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(Home)@class={hover:bg-[#DDD]}
                atom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(Doc)@class={hover:bg-[#DDD]}
                $custom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(Demo)
                $custom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(Samples)
    atom<span class="hljs-tag">&lt;<span class="hljs-name">sect-main</span>&gt;</span>
        atom<span class="hljs-tag">&lt;<span class="hljs-name">grid</span>&gt;</span>(cols:3, gap:5)@class={bg-[#BBB] p-5 text-black}
            atom<span class="hljs-tag">&lt;<span class="hljs-name">layout-v</span>&gt;</span>@class={bg-[#CCC] rounded-lg shadow-lg}
                atom<span class="hljs-tag">&lt;<span class="hljs-name">layout-h</span>&gt;</span>@class={justify-center text-[#333] p-5}
                    atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-caption</span>&gt;</span>(npm run cutkit &gt;)@class={text-[green] mr-2}
                    atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-caption</span>&gt;</span>(轉換 sample.cut 為 sample.html)
    atom<span class="hljs-tag">&lt;<span class="hljs-name">sect-footer</span>&gt;</span>@class={text-center}
        atom<span class="hljs-tag">&lt;<span class="hljs-name">txt-caption</span>&gt;</span>(cutkit is designed by William77)@class={text-black}</pre>