<pre class="text-[12px] p-2">...
atom<span class="hljs-tag">&lt;<span class="hljs-name">layout-h</span>&gt;</span>
    atom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(Home)@class={hover:bg-[#DDD]}
    atom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(Doc)@class={hover:bg-[#DDD]}
    $custom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(Demo)
    $custom<span class="hljs-tag">&lt;<span class="hljs-name">btn</span>&gt;</span>(Samples) <span class="hljs-comment">&lt;!--請看這行--&gt;</span>
...</pre>