<pre class="text-[12px] p-2">cutkit                      <span class="hljs-comment">&lt;!--cutkit 專案--&gt;</span>
    component               <span class="hljs-comment">&lt;!--元件模組--&gt;</span>
        atom                <span class="hljs-comment">&lt;!--官方模組，請勿更動或刪除，可在 component 資料夾下建立自己的資料夾還有 html--&gt;</span>
        code                <span class="hljs-comment">&lt;!--(資料夾內容可刪)針對高亮程式碼需求設計的元件，可將 .h5 檔轉成一般 .html 檔--&gt;</span>
        ...                 <span class="hljs-comment">&lt;!--自己建立元件模組--&gt;</span>
    compose                 <span class="hljs-comment">&lt;!--複合模組--&gt;</span>
        custom              <span class="hljs-comment">&lt;!--(資料夾可刪)自己建立複合模組，即複合模組內可以是複合模組與 atom 的混合結構--&gt;</span>
        ...                 <span class="hljs-comment">&lt;!--自己建立複合模組--&gt;</span>
    event                   <span class="hljs-comment">&lt;!--官方模組，請勿更動或刪除，存放 prototype 所需的互動設計程式
    node_modules            &lt;!--與本專案相關的套件--&gt;</span>
    ouput                   <span class="hljs-comment">&lt;!--page 資料夾下的 .cut 檔案轉換成 .html 並儲存在 output 資料夾--&gt;</span>
    page                    <span class="hljs-comment">&lt;!--切版的開始點，請新增自己的 .cut 檔--&gt;</span>
    cutkit.js               <span class="hljs-comment">&lt;!--.cut 檔核心程式解析器--&gt;</span>
    nodemon.json            <span class="hljs-comment">&lt;!--nodemon config--&gt;</span>
    output.html             <span class="hljs-comment">&lt;!--網頁輸出模板--&gt;</span>
    package.json            <span class="hljs-comment">&lt;!--專案配置詳細資訊--&gt;</span></pre>