<pre class="text-[12px] p-2">一直以來切版的職責歸屬是模凌兩可的，而跟切版工作最關聯的職位是網頁設計師與網站前端工程師，
在實際工作中切版的工作會被踢提皮球；而為了讓切版開發更為有趣，筆者開發 CutKit 切版輔助工具，
讓視覺介面開發簡單且提高生產力。

若是你學會了 CutKit，你的開發速度將會大幅提升。筆者建議 CutKit 選配 TailwindCSS，
在 RWD 處理較為輕鬆 --- 本專案以 TailwindCSS 為基底開發。

&gt; <span class="hljs-tag">&lt;<span class="hljs-name">切版不是一份討喜的工作原因可能為</span>&gt;</span>：
+ 對視覺設計師而言只想設計圖案而不想碰程式
+ 初學者想上手 CSS 但需要記得的 CSS 屬性指令太多，不知如何開始
+ CSS 學習 cp 值不高，只能用在網頁介面的開發上
+ CSS selector 規則太多太複雜，有時選不到相應的物件
+ 有時設定的 CSS 指令總是無法達到想要的效果
+ SCSS / SASS / LESS 等太多預處理器有選擇障礙
+ HTML 遇到重複的結構但不同的資料在切版時要大量複製貼上，然後找修改的資料時眼睛都看花了
+ 常態性 CSS 視覺的調整頻率，例如客戶要求的調整

&gt; <span class="hljs-tag">&lt;<span class="hljs-name">CutKit</span> <span class="hljs-attr">解決了什麼問題</span>&gt;</span>？
+ 提高切版創作動力，讓你愛上切版
+ 建立覆用元件模組讓開發更流暢，無需大量 copy / paste / modify 程式碼
+ 元件模組可以分享給不同的切版師
+ 配合 TailwindCSS 搭建介面，亦可依照個人需求選擇不同 CSS 框架，譬如 Bootstrap
+ 模組錯誤程式片段修正只要一個地方，若是大量使用此模組修改不費心
+ wireframe ( 線框圖 ) 完成後進行 mockup ( 視覺切版搞 )，如果夠厲害可直接邊想邊切版生成
+ 製作切好版的 mockup 加上一些互動流程機制即為 prototype ( mockup + 簡單互動程式 ex: 開關對話框 / 跳轉頁面 ) 

&gt; <span class="hljs-tag">&lt;<span class="hljs-name">本網站提供什麼內容</span>&gt;</span>？
+ 安裝
+ 專案目錄結構介紹
+ 快速功能展示
+ 開發流程
+ 🚧 筆者 CSS 開發思維、心法與常用 CSS 類介紹
+ 🚧 常用元件分享

<span class="hljs-comment">&lt;!-- 針對以上文字內容有任何問題請直接告訴我喔，🚧 表示施工中 --&gt;</span>

<span class="hljs-comment">&lt;!-- 作者官網 https://highq77.github.io --&gt;</span></pre>