<pre class="text-[12px] p-2">git clone xxx/cutkit.git    <span class="hljs-comment">&lt;!--下載專案--&gt;</span>

cd cutkit                   <span class="hljs-comment">&lt;!--進到 cutkit 專案資料夾--&gt;</span>

npm i                       <span class="hljs-comment">&lt;!--下載相依套件--&gt;</span>

npm i nodemon -g            <span class="hljs-comment">&lt;!--安裝 file watcher--&gt;</span>

npm run cutkit              <span class="hljs-comment">&lt;!--執行專案--&gt;</span>

最後請搭配 vscode live server plugin &gt; 開啟 http://localhost:5500/output/index.html</pre>